---
import { SITE_TITLE } from "../../consts";
---

<h1 class="mb-6 mt-16 border-b-2 text-2xl">Why choose us</h1>
<div
  class="mainContainer grid justify-center gap-12 sm:grid-cols-2 md:grid-cols-3"
>
  <div>
    <h2 class="mb-2 text-lg">Expertise</h2>
    <p>
      Our team of highly skilled and experienced structural engineers possesses
      a deep understanding of the complexities of structural design. We bring a
      wealth of knowledge to every project, ensuring that our solutions are
      reliable, efficient, and tailored to meet your specific needs.
    </p>
  </div>
  <div>
    <h2 class="mb-2 text-lg">Innovative Solutions</h2>
    <p>
      We thrive on pushing the boundaries of what's possible in structural
      engineering. Our consultants utilize cutting-edge technologies and
      industry-leading practices to deliver innovative solutions that optimize
      performance, minimize costs, and exceed your expectations.
    </p>
  </div>
  <div>
    <h2 class="mb-2 text-lg">Commitment to Quality</h2>
    <p>
      Quality is at the heart of everything we do. We adhere to stringent
      standards and best practices to ensure that every project we undertake is
      executed with precision and meticulous attention to detail. We believe
      that delivering excellence is the cornerstone of building lasting
      relationships with our clients.
    </p>
  </div>
  <div>
    <h2 class="mb-2 text-lg">Collaborative Approach</h2>
    <p>
      We value open and transparent communication. At <span class="font-bold"
        >{SITE_TITLE}</span
      >, we work closely with you, listening to your unique requirements, and
      integrating your vision into our design process. We believe that
      successful projects are built on strong partnerships, and we are committed
      to fostering collaboration every step of the way.
    </p>
  </div>
  <div>
    <h2 class="mb-2 text-lg">Personalized services</h2>
    <p>
      We offer personalized attention to each project. Our clients benefit from
      direct communication with our founders, ensuring a seamless and tailored
      experience from start to finish.
    </p>
  </div>
  <div>
    <h2 class="mb-2 text-lg">Timely Delivery</h2>
    <p>
      We understand the importance of meeting deadlines and keeping projects on
      track. With our efficient project management and streamlined processes, we
      ensure that your project progresses smoothly, with timely deliverables
      that align with your schedule and objectives.
    </p>
  </div>
</div>
