---
import { Picture, Image } from "@astrojs/image/components";

import BaseLayout from "../Layout/BaseLayout.astro";
import WhyUs from "../components/whyUs.astro";
import MeetTheTeam from "../components/meetTeam.astro";
import profilePicA from "../assets/profileA.png";
import profilePicB from "../assets/profileB.png";


import { SITE_TITLE, SITE_TITLE_SMALL } from "../consts";
const SITE_TITLE_UPP = SITE_TITLE.toUpperCase();
---

<BaseLayout title="Home Page">
    <p>
      At <span class="font-bold">{SITE_TITLE}</span>, we are a dynamic and experienced structural engineering
      consultancy founded by two passionate engineers. With a combined experience of over 20 years in the field, we
      have developed a strong reputation for delivering exceptional structural
      engineering solutions that stand the test of time.
    </p>

    <div class="mt-16 flex flex-col items-center md:flex-row md:justify-around gap-8">
      <img class="max-w-xs" src="src/assets/IKIGAI.svg" alt="ikigai" />
      <div>
        <h2 class="mb-0 text-lg">Our IKIGAI</h2>
        <p class="mb-2 text-sm text-sky-600">Ikigai (<span class="text-xs">lit.</span>'a reason for being')</p>
        <p class="max-w-xs">
          We believe that every project deserves a solid foundation. Our
          philosophy is rooted in a commitment to excellence, innovation, and
          client satisfaction. We approach each project with dedication and
          meticulous attention to detail, ensuring that our solutions are not
          only technically sound but also practical, efficient, and tailored to
          our clients' unique needs.
        </p>
      </div>
    </div>
    <WhyUs />
    <MeetTheTeam />
</BaseLayout>
