---
import BaseLayout from "../Layout/BaseLayout.astro";
import Hero from "../components/hero.astro";


import { SITE_TITLE, SITE_TITLE_SMALL } from "../consts";
const SITE_TITLE_UPP = SITE_TITLE.toUpperCase();
---

<BaseLayout title="Home Page">
  <div class="relative">
    <Hero />
    <div>
      At {SITE_TITLE}, we are dedicated to providing exceptional structural
      engineering consultancy services that deliver robust and innovative
      solutions for your projects. With our expertise and commitment to
      excellence, we ensure that every structure we work on stands strong, with
      a solid foundation for success.
    </div>
  </div>
</BaseLayout>
