---
import IndexLayout from "../Layout/IndexLayout.astro";

import Hero from "../components/index/hero.astro";
import Sectors from "../components/index/sectors.astro";
import MeetTheTeamSmall from "../components/index/meetTeamSmall.astro";
import CTA from "../components/index/CTA.astro";

import { SITE_TITLE, SITE_TITLE_SMALL } from "../consts";
const SITE_TITLE_UPP = SITE_TITLE.toUpperCase();
---

<IndexLayout title="Home Page">
  <Hero />
  <div class="relative m-auto max-w-7xl px-4 sm:px-16 md:px-24">
    <!-- MAIN -->
    <div class="mt-8 flex flex-col justify-around gap-6 sm:mt-24 sm:flex-row">
      <h1 class="min-w-[160px] text-4xl">Better by design</h1>
      <p class="sm:max-w-md">
        At <span class="font-bold">{SITE_TITLE}</span>, we offer a wide range of
        professional services in the field of <span class="font-semibold"
          >Structural and Civil engineering</span
        >, as well as cutting-edge <span class="font-semibold">BIM</span> (Building
        Information Modeling) solutions. With our expertise and commitment to excellence,
        we ensure that every structure we work on stands strong, with a solid foundation
        for success.
      </p>
    </div>

    <Sectors />

    <div
      class="mt-8 flex flex-col-reverse justify-around gap-6 sm:mt-24 sm:flex-row"
    >
      <p class="sm:max-w-md">
        When you choose <span class="font-bold">{SITE_TITLE}</span> for your engineering
        needs, you can expect more than just technical expertise. You can expect
        a partner who is invested in your success and dedicated to delivering results
        that stand the test of time. From residential and commercial buildings to
        industrial complexes and infrastructure projects, we have the knowledge and
        skills to tackle any challenge..
      </p>

      <div class="flex flex-col items-start justify-start">
        <div class="min-w-[220px] text-4xl">Discover the Difference</div>
        <div class="mt-4 flex flex-col items-end">
          <span class="relative left-1 top-2 flex h-3 w-3">
            <span
              class="absolute inline-flex h-full w-full animate-ping rounded-full bg-sky-500 opacity-75"
            ></span>
            <span class="relative inline-flex h-3 w-3 rounded-full bg-sky-600"
            ></span>
          </span>
          <!-- class="group inline-flex justify-center rounded-lg shadow-sm text-sm font-semibold py-3 px-4 bg-white text-zinc-800 ring-1 ring-zinc-300 hover:text-white hover:bg-zinc-800 hover:ring-zinc-900" -->
          <a
            class="inline-flex justify-center rounded-lg bg-white px-4 py-3 text-sm font-semibold text-zinc-800 shadow-sm ring-1 ring-zinc-700/10 hover:bg-zinc-50"
            href="/contact"
          >
            Get in touch &nbsp;<span
              aria-hidden="true"
              class="text-zinc/50 sm:inline">→</span
            >
          </a>
        </div>
      </div>
    </div>

    <MeetTheTeamSmall />

    <!-- MAIN -->
  </div>
  <CTA />
</IndexLayout>
