---
import { Icon } from "astro-icon";
import { SITE_TITLE, SITE_TITLE_SMALL } from "../consts";
// const { socialLinks = [], secondaryLinks = [], links = [], footNote = '', theme = 'light' } = Astro.props;
---

<footer class:list="relative  border-t border-gray-200 ">
  <div
    class="relative mt-16 sm:mt-32 grid grid-cols-1 col-start-3 sm:col-start-1 sm:grid-cols-3 grid-rows-3 justify-items-center  bg-zinc-100 h-60 mx-auto px-4 sm:px-6">
    <!-- 1 -->
    <div class="py-6 sm:py-2 flex flex-col flex-none justify-around items-center sm:items-start">
      <div class="text-md">
        {SITE_TITLE}
      </div>
      <div class="text-sm text-zinc-600">
        Engineering a better Future, <span class="text-sky-600">Together</span>
      </div>
    </div>
    <!-- 2 -->
    <div class="p-2"></div>
    <!-- 3 -->
    <p class="p-2 text-xl">info@desingeng.com</p>
    <!-- 4 -->
    <div class="p-2"></div>
    <!-- 5 -->
    <a class="p-6 inline-block font-bold text-xl" href="#"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="animate-bounce w-10 h-10">
        <path
          fill-rule="evenodd"
          d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm.53 5.47a.75.75 0 00-1.06 0l-3 3a.75.75 0 101.06 1.06l1.72-1.72v5.69a.75.75 0 001.5 0v-5.69l1.72 1.72a.75.75 0 101.06-1.06l-3-3z"
          clip-rule="evenodd"></path>
      </svg>
    </a>
  </div>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 py-2 px-6 gap-4 justify-start text-xs text-zinc-600 bg-zinc-200">
    © 2023 {SITE_TITLE} | All rights reserved.
  </div>
</footer>
