---
import { Icon } from "astro-icon";
import { SITE_TITLE, SITE_TITLE_SMALL } from "../consts";

/** Main menu items */
const navItems = [
  { title: "About us", url: "/about/" },
  { title: "Services", url: "/services/" },
  { title: "Experience", url: "/experience/" },
  { title: "Contact us", url: "/contact/" },
];
---

<header class="relative z-50 w-full flex-none text-sm font-semibold leading-6 text-slate-900 bg-zinc-100">
  <nav aria-label="Global" class="mx-auto max-w-container py-7 px-6 sm:px-12 lg:px-26">
    <div class="relative flex items-center">
      <!-- Logo -->
      <a class="mr-auto flex-none text-slate-900 text-xl" href="/">
        <span class="sr-only">{SITE_TITLE}</span>
        <div class="h-6 w-auto">{SITE_TITLE}</div>
      </a>
      <!-- Menu -->
      <div class="hidden sm:flex sm:items-center">
        <ul class="flex items-center gap-6">
          {
            navItems.map(({ title, url }) => (
              <li>
                <a class="ml-3 md:ml-6" href={url}>
                  {title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </nav>

  
</header>
