---
import { Picture, Image } from "@astrojs/image/components";
import pattern from "../../images/ptrn-triangle.jpeg";

const widths = [450, 800, 1200];
const sizes = "100vw";
import { SITE_TITLE, SITE_TITLE_SMALL } from "../../consts";
---

<div class="bg-white">
  <div class="mx-auto -mb-16 mt-8 sm:-mb-32 sm:mt-32">
    <div
      class="relative isolate overflow-hidden bg-zinc-900 px-6 pt-16 shadow-2xl sm:px-16 md:pt-24 lg:flex lg:gap-x-20 lg:px-24 lg:pt-0"
    >
      <div
        class="mx-auto max-w-lg text-center lg:mx-0 lg:flex-auto lg:py-32 lg:text-left"
      >
        <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">
          Let's build stronger together<br />Contact us today.
        </h2>
        <p class="mt-6 text-lg text-gray-300">
          Let's discuss your project requirements and discover how <span
            class="font-bold">{SITE_TITLE}</span
          > can bring your vision to life.
        </p>
        <div
          class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start"
        >
          <a
            href="/contact"
            class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white"
            >Get in touch</a
          >
          <a href="/services" class="text-sm font-semibold leading-6 text-white"
            >Services <span
              class="inline-block animate-bounce-right pl-2"
              aria-hidden="true">→</span
            ></a
          >
        </div>
      </div>
      <div class="relative mt-16 h-36 sm:h-40 lg:mt-8 lg:h-80">
        <Picture
          class="absolute left-0 top-0 w-[57rem] max-w-none rounded-3xl bg-white/5 ring-1 ring-white/10"
          src={pattern}
          aspectRatio="76:55"
          widths={[400, 800, 1000]}
          format="avif"
          alt="Triangle Patterns"
        />
      </div>
    </div>
  </div>
</div>
